# This is a .gitignore file for the repo AID_PSQI

# macOS system files
.DS_Store

# R nonsense
.Rhistory

# File types
*.csv
*.tif

# Folder
archive/
drew-old-slow-scripts/
old-figures/
old-wilcoxon-results/

# Output files
BgReadings.xlsx
study_data.xlsx

# and misc R files
Enrollment_Extraction.R
psqi_5j.R
Tebbe-5j.R
test.R